h2, h1, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(1, 114, 58);
    font-size: 50px;
}
body {
    background-image: url(./imagens/Capture-decran-2026-04-06-141111.png); height: 400px; width: 100%;
    background-repeat: no-repeat; background-position: auto; background-size: cover; background-attachment: fixed;
    
}
.menu {
    list-style: none;
}
.menu li {
    border: rgb(165, 241, 113) 1px solid;
    position: relative ;
    float: center;
    font-size: 50px;
    margin: 0px 10px;
    
}
.menu li a {
    color: rgb(164, 241, 113);
    text-decoration: none;
    padding: 5px 20px;
    display:block;
}
.menu li a:hover {
    color: rgb(84, 177, 56);
    text-shadow: rgb(0, 255, 0) 0px 2px 2px;
}
.menu li ul {
    position: absolute;
    top: 70px;
    left: 0px;
    display: none;
}
.menu li:hover ul {
    display: block;
}
.menu li ul li {
    display: block;
    width: 100%;
}
p {
    color: rgb(19, 235, 109);
    padding: 5px 30px;
    font-size: 25px;  
}
ol {
    color: rgb(19, 235, 109);
    padding: 5px 10px;
    text-align: center;
    font-size: 25px;
}